$teal: #009688;
$text-on-teal: #fff;
$red: #F44336;
$text-on-red: #fff;
$text-on-red-hover: darken($text-on-red, 25%);

$main: $red;
$text-on-main: $text-on-red;
$text-on-main-hover: $text-on-red-hover;
