.cp {
  cursor: pointer;
}

.main-link {
  color: $text-on-main;
  &:hover {
    color: $text-on-main-hover;
    transition: color 0.4s;
  }
}

.fixed-fullscreen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.tac {
  text-align: center;
}
